import { Component } from '@angular/core';
import { HeaderComponent } from './header/header.component';
import { SidebarComponent } from './sidebar/sidebar.component';
import { FooterComponent } from './footer/footer.component';
import { CommonModule } from '@angular/common';
import { RouterOutlet } from '@angular/router';

@Component({
  selector: 'app-root',
  standalone: true,
  imports: [CommonModule, HeaderComponent, SidebarComponent, FooterComponent, RouterOutlet],
  template: `
    <app-header [title]="title" (toggleSidebar)="toggleSidebar()"></app-header>

    <app-sidebar [open]="sidebarOpen"></app-sidebar>

    <div class="main-content" [class.sidebar-open]="sidebarOpen">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  `,
})
export class AppComponent {
  title = 'GreenGoals';
  sidebarOpen = false;

  toggleSidebar() {
    this.sidebarOpen = !this.sidebarOpen;
  }
}

